body {
  margin: 0;
  height: 100vh;
  background: linear-gradient(135deg, #ff9a9e, #fad0c4);
  font-family: "Comic Sans MS", cursive;
  overflow: hidden;
}

.valentine-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  position: relative; /* 🔥 критично */
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  padding: 60px 80px;
  border-radius: 40px;
  text-align: center;
  min-width: 500px;
  min-height: 350px;
}


h1 {
  color: white;
  font-size: 3rem;
  margin-bottom: 50px;
}

.yes-btn {
  font-size: 1.5rem;
  padding: 15px 50px;
  border-radius: 30px;
  background-color: #ff4d6d;
  border: none;
  color: white;
  cursor: pointer;
}

.no-btn {
  font-size: 1.5rem;
  padding: 15px 50px;
  border-radius: 30px;
  background-color: #555;
  border: none;
  color: white;
  cursor: pointer;
}

.heart {
  position: fixed;
  top: -10px;
  font-size: 24px;
  animation: fall linear forwards;
}

@keyframes fall {
  to {
    transform: translateY(110vh);
    opacity: 0;
  }
}

.yes-container {
  height: 100vh;
  background: linear-gradient(135deg, #ff758c, #ff7eb3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.yes-container h1 {
  font-size: 4rem;
  margin-bottom: 20px;
}

.yes-container p {
  font-size: 1.8rem;
  margin-bottom: 30px;
}

.hug-gif {
  width: 300px;
  border-radius: 30px;
}

.cute.hug-gif {
  width: 300px;
  border-radius: 30px;
}

.cute.dance-gif {
  width: 300px;
  border-radius: 30px;
}


.yes-btn {
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.yes-btn:hover {
  transform: scale(1.12);
  box-shadow: 0 0 30px rgba(255, 77, 109, 0.8);
}


@keyframes wiggle {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(3deg); }
  50% { transform: rotate(-3deg); }
  75% { transform: rotate(3deg); }
  100% { transform: rotate(0deg); }
}

.no-btn.wiggle {
  animation: wiggle 0.25s ease-in-out;
}


.confetti {
  position: fixed;
  top: -10px;
  font-size: 18px;
  animation: confetti-fall linear forwards;
  pointer-events: none;
}

@keyframes confetti-fall {
  to {
    transform: translateY(110vh) rotate(360deg);
    opacity: 0;
  }
}

/* CSS, щоб відео було невидиме */
#youtube-player {
  width: 0 !important;
  height: 0 !important;
  opacity: 0 !important;
  position: absolute;
  pointer-events: none;
}

.start-button {
  font-size: 1.5rem;
  padding: 15px 50px;
  border-radius: 30px;
  background-color: #ff4d6d;
  border: none;
  color: white;
  cursor: pointer;
}

#youtube-player {
  width: 0 !important;
  height: 0 !important;
  opacity: 0 !important;
  position: absolute;
  pointer-events: none;
}
